
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

.App-header {
  background-color: aquamarine;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: darkslategray;
}

.App-link {
  color: aquamarine;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: gray;
  background-color: aquamarine;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: aquamarine;
  background-color: gray;
}


.allJumbotron{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  transition: 2000ms;
  width: 100px;
  height: 100px;
}

.homeJumbotron {
  background-image: url("./assets/bikeBackground.jpg");
  width: 100vw;
  height: 94vh;
  filter: blur(0px);
}

.headlineJumbotron{
  width: 100vw;
  height: 40vh;
  filter: blur(0px);
}

.aboutJumbotron {
  background-image: url("./assets/bikeBackground.jpg");
}

.blogJumbotron {
  background-image: url("./assets/bikeBackground.jpg");
}

.contactJumbotron {
  background-image: url("./assets/bikeBackground.jpg");
}

.portfolioJumbotron {
  background-image: url("./assets/bikeBackground.jpg");
}

.resumeJumbotron {
  background-image: url("./assets/bikeBackground.jpg");
}

.card-deck {
  margin-top: 20px;
}

.contactFormDiv {
  margin-top: 20px;
}

.socialIcons{
  font-size: 30px;
  color: aquamarine;
}

/* .socialIconRow{
  padding:auto;
  margin: auto;
} */

#aboutText{
  text-align: left;
  text-indent: 50px;
  margin: auto;
  padding: 5px;
  float: left;
  margin-top: 30px;
}

#profilePic {
  background-image: url("./assets/kyleTheBeautiful.jpg");
  background-repeat: no-repeat;
  background-position: left 1px ;
  background-size: 125%;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  float: left;
  margin: auto;
  margin-top: 30px;
}

#jumbotronHomeHeadlineText {
  color: aquamarine;
  font-size: calc(10px + 15vmin);
  text-shadow: 2px 2px 30px black;
  padding-top: 300px;
  overflow: auto;
  transition: 2000ms ease;
  transition-delay: 1000ms;
}

#jumbotronPagesHeadlineText {
  color: aquamarine;
  font-size: calc(15vmin);
  text-shadow: 2px 2px 30px black;
  text-align: center;
  overflow: auto;
}

#imageCardButton {
  margin: 3px;
}



