
.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  padding: 0px;
  margin: 0px;
}

.App-header {
  background-color: aquamarine;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: left;
  font-size: calc(10px + 2vmin);
  color: darkslategray;
}

.App-link {
  color: aquamarine;
}

.App-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: gray;
  background-color: aquamarine;
}

.App-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: aquamarine;
  background-color: gray;
}

 .jumbotron, .jumbotron.jumbotron-fluid {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-image: url("https://scontent.fapa1-1.fna.fbcdn.net/v/t31.0-8/12419140_10100155668991835_3728226421092604235_o.jpg?_nc_cat=111&_nc_ht=scontent.fapa1-1.fna&oh=e9ad01ef09615d2df2eb9f8f22e361d7&oe=5CE95609");
  width: 100vw;
  height: 94vh;
  filter: blur(0px);
  display: inline-block;
  margin: 0px;
  padding: 0px;
  /* transition: 2000ms; */
}

#jumbotronTextWD {
  color: aquamarine;
  font-size: calc(10px + 15vmin);
  text-shadow: 2px 2px 30px black;
  padding-top: 300px;
  overflow: auto;
  /* transition: 2000ms ease; */
  /* transition-delay: 1000ms; */

}

#textboxtext {
  background-color: slategray;
  width: 99.1vw;
  height: 100px;
  color: black;
  font-size: calc(30px + 2vmin);
  text-align: center;

}
.splitDiv {
  background-color: aquamarine;
  width: 99.1vw;

}

#professionalDiv, #personalDiv {
  background-color: black;
  margin: 10px;
}

